[tool.poetry]
name = "perambulate"
version = "0.1.3"
description = "Timeseries analysis modules"
authors = ["Jordi Dekker <pypi@jordidekker.net>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.7"
pandas = "^1.0.1"
numpy = "&1.18.1"
matplotlib = "^3.3.4"

[tool.poetry.dev-dependencies]
pytest = "^6.1"
pre-commit = "^2.10.1"
pytest-cov = "^2.11.1"
Sphinx = "^3.5.0"
ipykernel = "^5.4.3"
toml = "^0.10.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 79
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
)/
'''

[tool.pytest.ini_options]
testpaths = ["tests/"]
xfail_strict = true
junit_family = "xunit2"
filterwarnings = [
    "error",
    "ignore::UserWarning",
    "ignore:Deprecated in *.*.*:DeprecationWarning",
]
